# =========================================================================
# Erlang Compiled Artifacts & Dumps
# =========================================================================
*.beam
*.o
*.plt
erl_crash.dump

# =========================================================================
# Build Tools and Dependencies
# =========================================================================
# Rebar 2.x & older build tools
.rebar/
deps/
ebin/

# Rebar3 build targets and checkouts
.rebar3/
_build/
_checkouts/

# Erlang.mk artifacts
.erlang.mk/
erlang.mk

# =========================================================================
# Testing & Code Coverage
# =========================================================================
.eunit/
.ct/
logs/
*.coverdata
