# =========================================================================
# Erlang Compiled Artifacts & Dumps
# =========================================================================
*.beam
*.o
*.plt
erl_crash.dump
*.crashdump
*.lock

# =========================================================================
# Build Tools and Dependencies
# =========================================================================
# Rebar 2.x & older build tools
.rebar/
deps/

# Rebar3 build targets and checkouts
.rebar3/
_build/
_checkouts/
/terra_build/

# Erlang.mk artifacts
.erlang.mk/
erlang.mk

# =========================================================================
# Testing & Code Coverage
# =========================================================================
.eunit/
.ct/
logs/
*.coverdata
